<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <springProperty name="LOG_FILE_DIR" source="logging.logback.file-dir"/>
    <springProperty name="LOG_FILE_NAME" source="logging.logback.file-name"/>
    <springProperty name="LOG_MAX_HISTORY" source="logging.logback.max-history"/>
    <springProperty name="LOG_LEVEL" source="logging.logback.level"/>


    <property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}:%line] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %logger{35} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_DIR}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_DIR}/${LOG_NAME}_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>